# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
venv313/
.env
.env.*

# Django
*.sqlite3
media/
staticfiles/

# Node
Frontend/node_modules/
Frontend/dist/

# Environment files
Backend/.env
Frontend/.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db